/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
    padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
    padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
    margin-top: 10px;
}

body {
    padding-top: 60px;
    /*padding-bottom: 40px;*/
}

/*@media (max-width: 980px) {
    *//* Enable use of floated navbar text *//*
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}*/

#side-menu {
    /*position: fixed;*/
    /*bottom: -20px;*/
    /*top: 50px;*/
    /*-webkit-transition: all 0.5s ease;*/
}

#map_canvas {
    height: 100%;
}

#main_wrapper .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#main_wrapper {
    position: absolute;
    top: 54px;
    left: 0;
    right: 0;
    bottom: 0;
}

#sidebar {
    background-color: #e8e8e8;
    padding: 20px;
    overflow-y: auto;
    z-index: 100;
    border-right: 1px solid #aaaaaa;
}

#directions_wrapper {
    overflow: auto;
}

.full_height {
    height: 100%;
}

#map_canvas {
    height: 100%;
}

#map_wrapper {
    margin-left: 0;
    width: 76.595744680851066%; /* 100% - width of span3 */
}

.departure {
	font-size:18px;
	color:black;
	background:url(../departure.png);
	background-size:40px 40px;
	background-repeat:no-repeat;
	padding-left:40px;
}

.departure:first-line{
	font-weight:bold;
}

.arrival {
	font-size:18px;
	color:black;
	background:url(../arrival.png);
	background-size:40px 40px;
	background-repeat:no-repeat;
	padding-left:40px;
}

.arrival:first-line{
	font-weight:bold;
}

.dist-time{
	color:rgb(158, 158, 158);
	font-size:12px;
}

#directions_wrapper {
	overflow:hidden;
}