/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
    padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
    padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
    margin-top: 10px;
}

body {
    padding-top: 60px;
    /*padding-bottom: 40px;*/
}

/*@media (max-width: 980px) {
    *//* Enable use of floated navbar text *//*
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}*/

#side-menu {
    /*position: fixed;*/
    /*bottom: -20px;*/
    /*top: 50px;*/
    /*-webkit-transition: all 0.5s ease;*/
}

#map_canvas {
    height: 100%;
}

#main_wrapper .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#main_wrapper {
    position: absolute;
    top: 54px;
    left: 0;
    right: 0;
    bottom: 0;
}

#sidebar {
    background-color: #e8e8e8;
    padding: 20px;
    overflow-y: auto;
    z-index: 100;
    border-right: 1px solid #aaaaaa;
}

#directions_wrapper {
    overflow: auto;
}

.full_height {
    height: 100%;
}

#map_canvas {
    height: 100%;
}

#map_wrapper {
    margin-left: 0;
    width: 76.595744680851066%; /* 100% - width of span3 */
}

.departure {
	font-size:18px;
	color:black;
	background:url(../departure.png);
	background-size:40px 40px;
	background-repeat:no-repeat;
	padding-left:40px;
}

.arrival {
	font-size:18px;
	color:black;
	background:url(../arrival.png);
	background-size:40px 40px;
	background-repeat:no-repeat;
	padding-left:40px;
}

.waypoint {
	font-size:18px;
	color:black;
	background:url(../waypoint.png);
	background-size:40px 40px;
	background-repeat:no-repeat;
	padding-left:40px;
}

.dist-time{
	color:rgb(158, 158, 158);
	font-size:12px;
	text-align:right;
}

.dist-time-lg {
	color:rgb(98, 98, 98);
	font-size:16px;
	text-align:right;
}

.dist-time-total {
	color:rgb(98, 98, 98);
	font-size:20px;
	text-align:left;
	background:url(../clock.png);
	background-size: 30px 30px;
	background-repeat:no-repeat;
	padding-left:30px;
	padding-top:5px;
	padding-bottom:5px;
}

#directions_wrapper {
	overflow:hidden;
}

#rangeTextVal {
	width:100%;
}

hr {
	color: rgb(168, 168, 168);
	background-color: rgb(168, 168, 168);
	border-color:  rgb(168, 168, 168);
	border: 0 none;
	height:1px;
}

#help-button {
	background:url(../question-mark.png);
	background-size: 30px 30px;
	background-repeat:no-repeat;
	margin-top:10px;
	margin-left:5px;
}

#start {
	background-color:rgb(205, 241, 205);
	margin-top:10px;
	margin-bottom:25px;
}

#end {
	background-color:rgb(252, 218, 218);
	margin-bottom:25px;
}

#parameters {
	margin-bottom:25px;
}

#search-button {
	background:url(../search.png);
	background-size: 25px 25px;
	background-repeat:no-repeat;
	margin-top:8px;
	height:25px;
	width:25px;
	margin-left:5px;
}