/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
    padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
    padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
    margin-top: 10px;
}

body {
    padding-top: 60px;
    /*padding-bottom: 40px;*/
}

/*@media (max-width: 980px) {
    *//* Enable use of floated navbar text *//*
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}*/

#side-menu {
    /*position: fixed;*/
    /*bottom: -20px;*/
    /*top: 50px;*/
    /*-webkit-transition: all 0.5s ease;*/
}

#map-canvas {
    height: 100%;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#sidebar {
    background-color: #e8e8e8;
    padding: 20px;
    overflow-y: auto;
    /*position: fixed;*/
    /*bottom: 0;  */
}